body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    overflow: hidden;
    background-color: #AAA;
    
}
.container{
padding-bottom: 100px;
width: 375px;
margin: auto;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
flex-direction: column;
text-align: justify;


}

h1{
    text-align:center;
}

h2{
    font-size: 18px;
    font-style: normal;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: fixed;
  
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and(max-width: 375px){

    #map .mes{
        width: 375px;
    }
}